@page "/AddPatient"
@using Clinic.Data.Enums
@using Clinic.Data.Models
@using Clinic.Data

@inject NavigationManager NavigationManager;

<PageTitle>Add Patient</PageTitle>

<AuthorizeView Roles = "Registrar" Context="patientAdding">
    <Authorized>
            <h2 class="mb-3 fw-bold">Add new patient</h2>  <br />

            <EditForm EditContext="newPatient" OnValidSubmit="addPatient" class="w-50 bg-gray px-4 py-3 rounded">

            <h3 class="mb-3 fw-bold">Enter the patient's:</h3>
            <label class="d-block mb-1 ml-1"/>name 
            <InputText type="text" @bind-Value="patient.FirstName" class="form-control w-75"/>

            <label class="d-block mb-1 ml-1"/>last name 
            <InputText type="text" @bind-Value="patient.LastName" class="form-control w-75"/>

            <label class="d-block mb-1 ml-1"/>pesel 
            <InputText type="text" @bind-Value="patient.Pesel" class="form-control w-75"/> 

            <label class="d-block mb-1 ml-1"/>birth date 
            <InputDate @bind-Value="patient.BirthDate" class="form-control w-75"/>

            <label class="d-block mb-1 ml-1"/>phone number 
            <InputText type="text" @bind-Value="patient.PhoneNumber" class="form-control w-75"/>

            <label class="d-block mb-1 ml-1"/> gender
            <InputRadioGroup @bind-Value="patient.Gender">
               @foreach (var g in (Gender[])Enum.GetValues(typeof(Gender)))
                {
                   <div><InputRadio Value="g" />@g.ToString().ToLower()</div>
                }
            </InputRadioGroup>
            <br/>
            <div>
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </EditForm>
            <button type="submit" class="btn btn-primary" @onclick="() => NavigateToAddAddress()">Add address</button>  
            <button type="submit" class="btn btn-primary" @onclick="() => NavigateToPatients()">Back</button>
				
    </Authorized>
    <NotAuthorized>
        <h1>Access denied!</h1>
    </NotAuthorized>
</AuthorizeView>

@code{

    protected override void OnInitialized()
    {
        newPatient = new EditContext(patient);
        base.OnInitialized();
    }
    private Patient patient = new();
    private Address address = new();
    EditContext newPatient;

    //TO DO
    private void addPatient()
    {

    }

     private void NavigateToAddAddress()
    {
        NavigationManager.NavigateTo($"AddAddress");
    }

     private void NavigateToPatients()
    {
        NavigationManager.NavigateTo($"Patients");
    }
}