@page "/AddPatient"
@using Clinic.Data.Enums
@using Clinic.Data.Models
@using Clinic.Data

<PageTitle>Add Patient</PageTitle>

<AuthorizeView Roles = "Registrar" Context="patientAdding">
    <Authorized>
            <h2>Add new patient</h2>  <br /><br />

            <EditForm EditContext="newPatient" OnValidSubmit="addPatient" class="w-50 bg-gray px-4 py-3 rounded">

            <h3>Enter the patient's:</h3>
            <label>name <InputText type="text" @bind-Value="patient.FirstName" class="form-control w-75"> </InputText></label><br />

            <label>last name <InputText type="text" @bind-Value="patient.LastName" class="form-control w-75"> </InputText></label><br />

        @*    <label>pesel <InputText type="text" @bind-Value="patient.Pesel" class="form-control w-75"> </InputText></label><br />
*@
            <label>birth date <InputDate @bind-Value="patient.BirthDate" @bind-Value:format="dd/MM/yyyy HH:mm" class="form-control w-75"> </InputDate></label><br />

         @*   <label>phone number <InputText type="text" @bind-Value="patient.PhoneNumber" class="form-control w-75"> </InputText></label><br />
*@
            <label> gender </label><br>
            <InputRadioGroup @bind-Value="patient.Gender">
               @foreach (var g in (Gender[])Enum.GetValues(typeof(Gender)))
                {
                   <div><InputRadio Value="g" />@g.ToString().ToLower()</div>
                }
            </InputRadioGroup>

            <br/>

            <h3>Do you want to add an address?</h3>

            <InputCheckbox @bind-Value="IsAdressChecked" @onchange="@ChangeCheckBox"></InputCheckbox>

            @if (IsAdressChecked)
            {
                <h3>Enter the patient's: </h3>
               <label>city <InputText type="text" @bind-Value="address.City" class="form-control w-75"> </InputText></label><br />

                <label>street <InputText type="text" @bind-Value="address.Street" class="form-control w-75"> </InputText></label><br />
            
     @*           <label>postal code <InputText type="text" @bind-Value="patient.Address.PostalCode" class="form-control w-75"> </InputText></label><br />

                <label>house number <InputText type="text" @bind-Value="patient.Address.HouseNumber" class="form-control w-75"> </InputText></label><br />

                <label>local number <InputText type="text" @bind-Value="patient.Address.LocalNumber" class="form-control w-75"> </InputText></label><br />
        *@    }
            <br/><br />
            <div><button type="submit" class="btn btn-primary">Add patient</button></div>
            </EditForm>
    </Authorized>
    <NotAuthorized>
        <h1>Access denied!</h1>
    </NotAuthorized>
</AuthorizeView>

@code{
    private bool IsAdressChecked { get; set; }

    protected override void OnInitialized()
    {
        newPatient = new EditContext(patient);
        IsAdressChecked = false;
        base.OnInitialized();
    }
    private Patient patient = new();
    private Address address = new();
    EditContext newPatient;

    //TO DO
    private void addPatient()
    {

    }
    //private void addAdress()
    //{
    //    IsAdressChecked = !isAdressChecked;
    //    if (isAdressChecked)
    //    {
    //        patient.Address.Patient.PatientId = patient.PatientId;
    //    }
    //}

    private void ChangeCheckBox()
    {
        if (IsAdressChecked == false)
        {
            IsAdressChecked = true;
        }
        else IsAdressChecked = false;
    }
}