@page "/AddPhysicalExamination/{Id}"
@using Clinic.Data
@using Clinic.Data.Enums
@using Clinic.Data.Models
@using System.Globalization
@using System.ComponentModel.DataAnnotations
<h3>EditAppointment</h3>

@inject NavigationManager NavigationManager;

<PageTitle>Edit appointment</PageTitle>



<AuthorizeView Roles="Doctor" Context="examinationEditing">
    <Authorized>
        <h1>@Id></h1>
        </Authorized>
    <NotAuthorized>
        <h1>Access denied!</h1>
    </NotAuthorized>
</AuthorizeView>

@code {

    //id wizyty, ktore zostalo przekazane z poprzedniego widoku, trzeba na jego podstawie zwrocic z bazy danych wizyte do edytowania
    [Parameter]
    public string Id { get; set; }
}