@page "/DisableUser/{Id}"
@using Microsoft.AspNetCore.Identity
@using Clinic.Services
@using Microsoft.AspNetCore.WebUtilities
@using System.Text
@inject UserService userService;
@inject NavigationManager NavigationManager
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<ApplicationUser> userManager

<h3>DisableUser</h3>

@code {

    [Parameter]
    public string Id { get; set; }
}
