@page "/ManageRoles"
@using Clinic.Services
@inject UserService userService;
@inject NavigationManager NavigationManager

<PageTitle>Manage Roles</PageTitle>

<AuthorizeView Roles = "Administrator">
    <Authorized>
            <div class="card-header" style="margin-bottom: 40px" >
                <h2 class="text-center" style="margin-top:8px"><b>Add or remove roles for users</b></h2>
            </div>
            @if (usersWithRoles != null)
            {
                    @if(usersWithRoles.Any())
                    {
                        <TableTemplate Items="usersWithRoles">
                        <TableHeader>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th></th>
                        </TableHeader>
                        <RowTemplate Context="user">
                                <td>TODO: provide getter for Names</td>
                                <td></td>
                                <td>@user.Item1.Email</td>
                                <td>@user.Item2</td>
                                <td role="button" @onclick="() => NavigateToEditUserRoles(user.Item1.Id)"><span style="color:red">Edit</span></td>
                        </RowTemplate>
                    </TableTemplate>
                    }
                    else
                    {
                        <h5 class="card-title">No users in database</h5>
                    }
            }
            else
            {
                <h5 class="card-title">No users in database</h5>
            }
    </Authorized>
    <NotAuthorized>
        <h1>Access denied!</h1>
    </NotAuthorized>
</AuthorizeView>

@code{
    private List<Tuple<ApplicationUser, string>>? usersWithRoles;
    protected override async Task OnInitializedAsync()
    {
        var users = await userService.GetAllUsersAsync();
        usersWithRoles = new List<Tuple<ApplicationUser, string>>();

        foreach (var user in users)
        {
            if (user.Email.Equals("admin@admin.com"))
                continue;
            usersWithRoles.Add(Tuple.Create(user, GetRolesForUser(user.Id)));
        }
    }

    private string GetRolesForUser(string userId)
    {
        var roles = userService.GetRolesForUser(userId);

        if (roles != null)
        {
            if (roles.Count == 1)
                return roles.First();
            else if(roles.Count != 0)
                return string.Join(", ", roles);
        }

        return "";
    }

    private void NavigateToEditUserRoles(string userId)
    {
        NavigationManager.NavigateTo($"EditUserRoles/{userId}");
    }
}