@page "/AddPhysicalExamination/{Id}"
@using Clinic.Data
@using Clinic.Data.Enums
@using Clinic.Data.Models
@using System.Globalization
@using System.ComponentModel.DataAnnotations
@using System.Diagnostics
@using Clinic.Services
<h3>EditAppointment</h3>

@inject NavigationManager NavigationManager;
@inject IToastService toastService
@inject GlossaryService glossaryService;
@inject PhysicalExaminationService physicalExaminationService;
@inject AppointmentService appointmentService;

<PageTitle>Add physical examination</PageTitle>

<AuthorizeView Roles="Doctor" Context="examinationEditing">
    <Authorized>
        <EditForm EditContext="examinationToAdd" OnValidSubmit="AddExamination" class="w-50 bg-gray px-4 py-3 rounded">

            <h1 class="mb-3 fw-bold">Add physical examination</h1><br />
            <h3 class="mb-3 fw-bold">Examination:</h3>

            <label class="d-block mb-1 ml-1"> Name: </label>
            @if(allGlossaryDictionares != null)
            {
                <InputSelect class="mb-3 fw-bold" @bind-Value="@glossaryCode">
                    @foreach (var c in allGlossaryDictionares)
                    {
                        <option Value=@c.Code>@c.Name</option>
                    }
                </InputSelect>
            }
            <label class="d-block mb-1 ml-1">Result:</label>
            <InputTextArea @bind-Value="@examination.Result" class="form-control w-75" />

            <br />
            <div>
                <button type="submit" class="btn btn-primary">Order</button>
            </div>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <h1>Access denied!</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    //id wizyty, ktore zostalo przekazane z poprzedniego widoku, trzeba na jego podstawie zwrocic z bazy danych wizyte do edytowania
    [Parameter]
    public string Id { get; set; } = String.Empty;

    private string glossaryCode = String.Empty;
    private List<GlossaryDictionary>? allGlossaryDictionares; 
    private PhysicalExamination examination = new();
    private EditContext? examinationToAdd;

    protected override async Task OnInitializedAsync()
    {
        examinationToAdd = new EditContext(examination);
        allGlossaryDictionares = (await glossaryService.GetAllDictionariesAsync(GlossaryType.PHYSICAL)).ToList();
        glossaryCode = allGlossaryDictionares.First().Code.ToString() ?? "";
    }

    private void AddExamination()
    {
        examination.Appointment = appointmentService.GetById(Guid.Parse(Id));
        if(allGlossaryDictionares != null)
        {
            foreach (var dictionary in allGlossaryDictionares)
            {
                if (dictionary.Code.ToString().Equals(glossaryCode))
                    examination.GlossaryDictionary = dictionary;
            }

            if(examination.Result!=null)
            {
                physicalExaminationService.Add(examination);
                if (physicalExaminationService.GetById(examination.Id) != null)
                    toastService.ShowSuccess("Physical examination added successfully!");
            }
            else
            {
                 toastService.ShowError("Failed to add Physical examination!");
            }

        }
    }
}