<div class="hero-section-container" id="Hero-section">
      <video src="/video/doctor.mp4" autoPlay loop muted />
      <div class="hero-text-box">
        <h1 class="scale-in-center ">Welcome to Clinic!</h1>
        <div class="hero-introduce">
          <div class="scale-in-top">
            The best It software for medical clinics
          </div>
          <br />
        </div>
      </div>
    </div>
@code {

}
