<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Clinic</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="CheckRole">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Check role
                </NavLink>
            </div> 
        </AuthorizeView>
        <AuthorizeView Roles = "Administrator">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ManageRoles">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage roles
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles = "Administrator">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ManageUsers">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage users
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles = "Registrar">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Patients">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Patients
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles = "Registrar">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Appointments">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Add appointment
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles = "Lab Technician, Lab Manager">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="LabExaminations">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Examinations
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles = "Lab Manager">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ApproveExamination">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Approve Examinations
                </NavLink>
            </div>
        </AuthorizeView>
         <AuthorizeView Roles = "Doctor">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Appointments">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Appointments
                </NavLink>
            </div>
        </AuthorizeView>
  
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
